.appHeader{
  font-family: 'Poppins' ;
  height: 80px;
  .img-header{
   height: 15%;
  }
}
.nav-item-header{
  a{
    text-decoration:none;
  }
  &:hover{
  animation: forwards 1s navitem_hover;
  }
}
.img{
  border-radius: 30px;
}
.space{
  background:black;
}

.loader,
.loader:before,
.loader:after {
  background: #4aeae2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #4aeae2;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

body{
  animation: normal 2s showpage;
}
@keyframes navitem_hover {
  from{
    text-shadow: none;
  }
  to{
    text-shadow: 25px 1px 0px #37C996;
  }
}
@keyframes showpage {
  from{
    opacity:0%;
  }
  to{
    opacity: 100%;
  }
}




* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}


